<section class="hero is-primary is-bold is-fullheight">
  <div class="hero-body ">
    <div class="container">
      <div class="title">
        Payment Details
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-horizontal">
          <div class="tile is-parent">
            <div class="tile is-child box">
            <app-payment-detail></app-payment-detail>
          </div>
          </div>
          <div class="tile is-parent">
            <div class="tile is-child box">
              <app-payment-details-list></app-payment-details-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
